chapter {
	counter-reset: chapter_color value(attr(color)), icons, current_icon, page value(attr(first-page));
}

page {
	counter-reset: image;
	modify-attribute: number value(counter(page));
}
page:not(:first-child) {
	counter-increment: page;
}

table td:first-child img {
	counter-increment: icons;
	modify-attribute: url value(attr counter(chapter_color) "/"), url value(attr counter(icons) ".svg");
}
table[icon] {
	counter-increment: current_icon value(attr(icon));
}
table[icon] td:nth-child(2) img {
	modify-attribute: url value(attr counter(current_icon) ".svg");
}

h1 {
	modify-tag: counter(chapter_color) "_" tag;
}

chapter > image_block > img {
	counter-increment: image;
	modify-attribute: url value(attr counter(page) '-' counter(image) '.png');
}