paragraph {
	counter-reset: section, paragraph_color value(attr(color) " + " counter(section));
}
div {
	counter-increment: section;
	modify-attribute: test value(attribute counter(section)), test2 value(counter(paragraph_id));
	modify-content: counter(paragraph_color) content;
}



ol.toc, ol.toc ol {
	counter-reset: toc;
}
ol li {
	counter-increment: toc;
}
.toc li {
	modify-content: "(Item " counters(toc, ".") ") " content;
}
/* visible page "output"

<ol class="toc">
	<li>(Item 1)Intro</li>
	<li>(Item 2)Topic
		<ol>
			<li>(Item 2.1)Subtopic</li>
			<li>(Item 2.2)Subtopic</li>
			<li>(Item 2.3)Subtopic</li>
		</ol>
	</li>
	<li>(Item 3)Topic
		<ol>
			<li>(Item 3.1)Subtopic</li>
			<li>(Item 3.2)Subtopic</li>
			<li>(Item 3.3)Subtopic</li>
		</ol>
	</li>
	<li>(Item 4)Closing</li>		
</ol>
*/